<h1>New Wiki</h1>

<div class="row">
  <div class="col-md-4">  
    <p>Guidelines for wikis</p>
    <ul>
      <li>Make sure it is informative.</li>
      <li>Make sure it is legit.</li>
      <li>Make sure it is awesome.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'wikis/form', locals: { wiki: @wiki } %>
  </div>
</div>
  
